services:
  db:
    image: postgres
    environment:
      POSTGRES_PASSWORD: guilherme12
      POSTGRES_USER: postgres
      POSTGRES_DB: pingly_db
    ports:
      - "5432:5432"

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
